body {
    font-family: 'Roboto Mono';
    font-size: 1.0em;
    font-size: 16px;
    background-color: #0E1116;
    color: #fff;
}

h3 {
  color: #777;
  font-size: 20px;
  font-weight: normal;
  padding-top: 20px;
}

input {
  -webkit-appearance: none; 
  -moz-appearance: none;
  border: solid 2px #aaa;
  outline: none;
  padding: 5px;
}

div.query-box {
  position: relative;
  width: 100%;
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
}

div.result-box {
  position: relative;
  top: 60px;
  clear: both;
}

div.logo-box {
  position: relative;
  clear: both;
  text-align: center;
  width: 100%;
}

div.query {
 float: left;
 width: calc(100% - 95px);
}

div.query input {
  font-size: 18px;
  border-radius: 20px;
  padding-left: 10px;
  background-color: #000;
  color: #fff;
  border-color: #47B576;
  box-shadow: 0px 0px 10px rgba(71,181,118,1.0);
  width: 100%;
}

div.example {
  position: relative;
  top: 12px;
  left: 5px;
  float: left;

  font-size: 18px;
  font-weight: 300;
  font-family: 'Roboto';
  text-align: center;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 9px;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */  
}

.query-error {
    box-shadow: 0px 0px 10px rgba(181,73,75,1.0) !important;
    border-color: #B5494B !important;
}

div.error {
  position: relative;
  text-align: center;
  width: 100%;
}

span.error {
  color: #B5494B;
}

div.docs {
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 800px;
}

p.code-examples {
  margin: auto;
  padding: 10px;
  text-align: left;
  background-color: #555;
  max-width: 700px;
}

span.code-comment {
  color: #999;
  font-style: italic;
}

div.ecs-table {
  position: relative;
  margin: auto;
  padding: 15px;
  box-shadow: 0px 5px 20px rgba(0,0,0,1.0);
  max-width: 800px;
  background-color: #000;
}

div.ecs-table ecs-value {
  max-width: 150px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
  
table th:first-child {
  text-align: left;
}

table.last_align_right th:last-child {
  text-align: right;
}

table.last_align_right td:last-child {
  text-align: right;
}

table th {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 600;
  font-family: 'Roboto';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #47B576;
}

table tr {
  height: 45px;
}

table td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  border-top-color: #212834;
  border-top-style: solid;
  border-top-width: 1px;
  font-size: inherit;
  min-width: 75px;
  max-width: 150px;
}